@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: rgb(110, 110, 255);
    --btn-primary: rgb(63, 160, 63);
    --btn-primary-hover: rgb(63, 190, 63);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

.cart-btn {
    padding: 10px;
    background: var(--btn-primary);
    color: white;
    border: none;
    margin: 10px;
}

.cart-btn:hover {
    background: var(--btn-primary-hover);
}